<<<<<<< HEAD
<p>Peter was here</p>
<h3> Hello, my name is David </h3>
<p>Hi guys! This is Danika</p>
=======
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<<<<<<< HEAD

<h1>Karen</h1>
=======
<p>Peter was here</p>
<h3> Hello, my name is David </h3>

>>>>>>> 825d187b64661c32959cb24e5d67c8813bbc59f0
>>>>>>> 4b65d6c1d888f0418ed850f42beb4fc02195e099
